.shoppingCart {
  max-width: 1500px;
  margin: auto;
}
.shoppingCart__container {
  margin: 20px;
  display: flex;
  align-items: start;
  gap: 20px;
}

@media (max-width: 768px) {
  .shoppingCart__container {
    margin: 0;
    flex-direction: column;
  }
}

.shoppingCart__items {
  flex: 0.7;
  padding: 30px 20px;

  background-color: white;
}

.shoppingCart__title {
  border-bottom: 1px solid rgb(194, 192, 192);
  font-weight: 500;
  font-size: 1.75rem;
}
.shoppingCart__billContainer {
  display: flex;
  justify-content: end;
  padding: 10px;
}

.shoppingCart__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-bottom: 1px solid rgb(194, 192, 192);
}

.shoppingCart__emptyBtn {
  padding: 4px 40px;
}

/* Styles for Shopping Cart Total Div */

.shoppingCart__totalDiv {
  flex: 0.3;
  background-color: white;
  padding: 30px 20px;
  display: grid;
  gap: 10px;
}
@media (max-width: 768px) {
  .shoppingCart__items {
    flex: 1;
    width: 100%;
  }
  .shoppingCart__totalDiv {
    flex: 1;
    width: 100%;
  }
  .shoppingCart__title {
    font-size: 1.4rem;
  }
  .shoppingCart__ad {
    display: none;
  }
}

.shoppingCart__total {
  font-weight: 500;
}
.shoppingCart__totalBill {
  font-weight: 700;
}

.shoppingCart__ad {
  margin: 20px;
  height: 250px;
  margin-bottom: 60px;
}
