.orders__wrapper {
  background-color: white;
  color: #0f1111;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 20vh;
}
.orders {
  padding: 20px;
  display: grid;
  max-width: 900px;
  margin: auto;
}
@media (max-width: 480px) {
  .orders {
    padding: 10px;
  }
}
.orders__title {
  border-bottom: 1px solid rgb(227, 168, 58);
  font-weight: 600;
  padding-block: 5px;
  width: 100%;
}
.orders__number {
  padding-block: 10px;
  font-size: 14px;
  font-weight: 600;
}
.orders__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
